# Note that there is some overlap with Dependabot security updates so some options can effect security updates as well,
# see https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.

version: 2
updates:
  # Maintain dependencies for npm ecosystem
  - package-ecosystem: 'npm'
    # Checks root and top level package directories.
    directories:
      - '/'
      - '/packages/*'
    schedule:
      # Runs every Monday at 09:00 Pacific Time
      interval: 'weekly'
      time: '09:00'
      timezone: 'America/Los_Angeles'
    # Update package.json files if new version is outside of version range specified there. Otherwise lock file only.
    versioning-strategy: increase-if-necessary
    allow:
      - dependency-name: '@aws-sdk/*'
      - dependency-name: '@types/aws-*'
      - dependency-name: '@smithy/*'
      - dependency-name: '@inquirer/*'
      - dependency-name: 'aws-cdk'
      - dependency-name: 'aws-cdk-lib'
      - dependency-name: '@aws-cdk/*'
      - dependency-name: '@opentelemetry/*'
      - dependency-name: 'yargs*'
    open-pull-requests-limit: 10
    # Groups dependencies into one PR, dependencies that don't match any group will be in their own individual PR
    # see https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference#groups--.
    groups:
      apollo:
        patterns:
          - '@apollo/*'
      aws-sdk:
        patterns:
          - '@aws-sdk/*'
          - '@types/aws-*'
      changesets:
        patterns:
          - '@changesets/*'
      eslint:
        patterns:
          - '@shopify/eslint-plugin'
          - '@typescript-eslint/*'
          - 'eslint'
          - 'eslint-*'
      inquirer:
        patterns:
          - '@inquirer/*'
      opentelemetry:
        patterns:
          - '@opentelemetry/*'
      smithy:
        patterns:
          - '@smithy/*'
    # Ignore updates to certain dependencies.
    # See: https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference#ignore--
    ignore:
      # newer versions of api-extractor introduce breaking behavior to us see: https://github.com/microsoft/rushstack/issues/4842
      - dependency-name: '@microsoft/api-extractor'
      # typings for node should match the lowest Node version we currently support. Do not upgrade this eagerly.
      - dependency-name: '@types/node'
      # zod is currently very volatile because they are preparing to sunset v3 in favor of v4
      - dependency-name: 'zod'
