coverage
docs
lib
node_modules
temp
tsconfig.tsbuildinfo
test-projects/*
!test-projects/README.md
!test-projects/.eslintrc.json

.idea
.eslintcache
.nvmrc
.npmrc
.DS_Store
.vscode
verdaccio-cache
verdaccio-logs.txt
cdk.out/
e2e-tests
concurrent_workspace_script_cache.json

testDir
/.amplify

# React app build files
packages/cli/src/commands/sandbox/sandbox-devtools/public/
packages/cli/src/commands/sandbox/sandbox-devtools/react-app/dist/
packages/cli/src/commands/sandbox/sandbox-devtools/amplify-backend.code-workspace
