coverage
docs
lib
node_modules
temp
tsconfig.tsbuildinfo

.idea
.eslintcache
.nvmrc
.npmrc
.DS_Store
verdaccio-cache
verdaccio-logs.txt
cdk.out/
e2e-tests
concurrent_workspace_script_cache.json
api-validation-temp-dir/
