# Ignore artifacts:
build
coverage
bin
lib
docs
tsconfig.tsbuildinfo
API.md
verdaccio-cache
expected-cdk-out
.changeset/pre.json
examples/simple_react/cdk.out
examples/simple_react/src/amplifyconfiguration.js
concurrent_workspace_script_cache.json
