# Ignore artifacts:
build
coverage
bin
lib
docs
tsconfig.tsbuildinfo
API.md
verdaccio-cache
expected-cdk-out
.changeset/pre.json
concurrent_workspace_script_cache.json
scripts/components/api-changes-validator/test-resources/working-directory
/test-projects
testDir