name: e2e_resource_cleanup

# This is required by aws-actions/configure-aws-credentials
permissions:
  id-token: write
  contents: read

on:
  schedule:
    - cron: '0 * * * *' # Every hour
  workflow_dispatch:

jobs:
  cleanup_e2e_resources:
    runs-on: ubuntu-latest
    strategy:
      # will finish running other clen up matrices even if one fails
      fail-fast: false
      matrix:
        region: [us-west-2, us-east-1, ca-central-1, eu-central-1]
    env:
      AWS_REGION: ${{ matrix.region }}
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # version 4.1.4
      - uses: ./.github/actions/setup_node
      - uses: ./.github/actions/install_with_cache
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@04b98b3f9e85f563fb061be8751a0352327246b0 # version 3.0.1
        with:
          role-to-assume: ${{ secrets.E2E_RESOURCE_CLEANUP_ROLE_ARN }}
          aws-region: ${{ matrix.region }}
      - name: Run E2E resource cleanup
        run: npm run e2e:cleanup-resources
