name: metrics_logger
description: runs after other workflows and logs their status into CloudWatch

on:
  workflow_run:
    workflows: ['canary_checks', 'health_checks']
    types: [completed]

jobs:
  log_metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@04b98b3f9e85f563fb061be8751a0352327246b0 # version 3.0.1
        with:
          role-to-assume: ${{ secrets.METRICS_LOGGER_ROLE }}
          aws-region: us-west-2
      - name: Put metric data
        shell: bash
        run: |
          aws cloudwatch put-metric-data \
          --metric-name WorkflowCompleted \
          --namespace GithubWorkflows \
          --value 1 \
          --dimensions WorkflowName=${{ github.event.workflow_run.name }},WorkflowConclusion=${{ github.event.workflow_run.conclusion }}
