name: snapshot_release

on:
  workflow_dispatch:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # version 4.1.4
      - uses: ./.github/actions/setup_node
        with:
          node-version: 18
      - uses: ./.github/actions/install_with_cache
        with:
          node-version: 18
          cdk-lib-version: FROM_PACKAGE_LOCK
  build:
    runs-on: ubuntu-latest
    needs:
      - install
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # version 4.1.4
      - uses: ./.github/actions/setup_node
        with:
          node-version: 18
      - uses: ./.github/actions/build_with_cache
        with:
          node-version: 18
          cdk-lib-version: FROM_PACKAGE_LOCK
  test:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # version 4.1.4
      - uses: ./.github/actions/setup_node
        with:
          node-version: 18
      - uses: ./.github/actions/restore_build_cache
        with:
          node-version: 18
          cdk-lib-version: FROM_PACKAGE_LOCK
      - run: npm run set-script-shell
      - run: npm run test
  publish_snapshot:
    needs:
      - test
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # version 4.1.4
      - uses: ./.github/actions/setup_node
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - uses: ./.github/actions/restore_build_cache
        with:
          node-version: 18
          cdk-lib-version: FROM_PACKAGE_LOCK
      - name: Publish snapshot to npm
        run: |
          npm run publish:snapshot
        env:
          NPM_TRUSTED_PUBLISHER: 'true'
